body {
    background-color: pink;
    
}

#title {
    text-align:center;
    position: fixed;
    font-family: arial;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 45px;
  padding-left:40px;
  padding-right:5px;
  padding-bottom:20px;
  padding-top:10px;
    color: white
   
}

.words {
    text-align:center;
    font-family: arial;
    font-size: 30pt;
    border-top: 10px dashed palevioletred;
     border-bottom: 10px dashed indianred; 
    padding: 15px;
    color: white
        
}

#name {
    color: white;
    text-align:center;
    font-family: arial;
    font-size: 20pt;
    
}