#title {
    font-family: sans-serif;
    border: 4px solid peachpuff;
    padding: 10px;
    position: fixed;
    text-align: center;
    font-size: 44pt;
}

#repeat {
    text-align: center;
    font-family: sans-serif;
}

#name {
   text-align: center;
    font-family: sans-serif;
    border-bottom: 8px solid lightsalmon; 
    padding-bottom: 20px;
}